{% extends "base.html" %}

{% block title %}
    Gênero
{% endblock title %}

{% block extrascripts %}
    <link rel="stylesheet" href="/static/files/codes/css/radar_d3_graph.css" type="text/css" />
{% endblock extrascripts %}

{% block extrahead %}
{% endblock extrahead %}

{% block headerImgClass %}
    about
{% endblock headerImgClass %}

{% block nomepagina %}
    Gênero e Participação
{% endblock nomepagina %}

{% block pagedesc %}
    Entenda visualmente participação de mulheres e homens na política
{% endblock pagedesc %}

{% block breadcrumbs %}
    <li><a href="/index/">Home</a> &raquo;</li>
    <li><a href="/genero/">Gênero</a> &raquo;</li>
    <li><a href="/genero/tematica/partido/">Análise: Temáticas por Partido</a></li>
{% endblock breadcrumbs %}

{% block content %}
    <style>
        @import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);
        svg {
          font: 10px sans-serif;
        }
        .axis path, .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
        .matrix-background {
          fill: #eee;
        }
        line {
          stroke: #fff;
        }
        text.active {
          fill: red;
        }
    </style>

    <h3> {{casa_legislativa.nome}}</h3>
     <article id="descricao" class="inwrap">
        O objetivo deste projeto é fazer uma análise gráfica da participação de deputadas e deputados na Câmara Federal.<br/>
        É propósito observar as participações feminina e masculina na casa legislativa, seja do ponto de vista quantitativo, seja do ponto de vista qualitativo.<br/>
        <h4 style="margin-bottom:5px;">O que é este gráfico?</h4>
        <aside id="como-funciona" style="margin: 0 90px 10px 20px; padding: 10px; background-color: rgba(220,220,220,0.7); -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;">
            Trata-se de uma visualização de dados matricial em que as colunas representam os partidos e as palavras mais frequentes são as linhas. A intensidade da cor representa a quantidade de proposições que o partido fez utilizando aquela palavra temática. Quanto mais proposições, mais intensa é a cor. Quanto menos proposições, menos intensa é a cor.<br/>
            Futuramente esta visualização mostrará também a mesma informação com o recorte de gênero por partido. Ela ainda não foi possível por de dados suficientemente estruturados.
        </aside>
        Analise as frequências de temas por partido e tire suas próprias conclusões.<br/>
    
        Quantidade de palavras-chave consideradas nesta análise: <b>33</b> palavras.<br/><br/>
        Quantidade de partidos consideradas nesta análise: <b>75</b> partidos.<br/><br/>
        Os dados da Câmara dos Deputados utilizados para análise estão disponíveis para <a href="https://gitlab.com/radar-parlamentar/radar/">download aqui</a>.<br/>    
    
        <aside id="legenda" class="list">
        </aside>
        <figure id="animacao"><center><img id="loading" src="/static/files/images/spinner.gif"></img></center></figure>
    </article>
        <div style="clear:right"/>
{% endblock content %}

{% block extrajsend %}
    {% if request.get_host == '127.0.0.1:8000' or request.get_host == 'localhost:8000' %}
        <script src="/static/files/codes/js/d3.min.js"></script>
    {% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
        <script type="text/javascript">
          if (typeof d3 === 'undefined') {
            var e = document.createElement('script');
                e.src = '/static/files/codes/js/d3.min.js';
                e.type='text/javascript';
            document.getElementsByTagName("head")[0].appendChild(e);
          }
        </script>
    {% endif %}
    <script src="/static/files/codes/js/genero_matriz.js"></script>
{% endblock extrajsend %}

{% block extrascriptsend %}
    menuActive("genero");
    $(document).ready(function() {
    });
{% endblock extrascriptsend %}

